<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
	<extension
         point="org.eclipse.ui.actionSetPartAssociations">
      <actionSetPartAssociation
            targetID="com.aptana.ide.editors.actionSet">
         <part
               id="com.aptana.ide.editors.ERBEditor">
         </part>
      </actionSetPartAssociation>
      <actionSetPartAssociation
            targetID="org.eclipse.ui.edit.text.actionSet.presentation">
         <part
               id="com.aptana.ide.editors.ERBEditor">
         </part>
      </actionSetPartAssociation>
   </extension>
   <extension
         point="org.eclipse.core.runtime.contentTypes">
      <content-type
            base-type="org.eclipse.core.runtime.text"
            file-extensions="erb,rhtml,dryml"
            id="erbSource"
            name="%content-type.name.0"
            priority="high"/>
   </extension>
    <extension point="com.aptana.ide.editors.colorization" >
   		<handler class="com.aptana.ide.editor.erb.ERBColorizer" />
    </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.ide.editor.erb.ERBEditor"
            contributorClass="com.aptana.ide.editor.erb.actions.ERBActionContributor"
            default="false"
            icon="icons/erb.png"
            id="com.aptana.ide.editors.ERBEditor"
            name="%editor.name.0">
         <contentTypeBinding contentTypeId="com.aptana.ide.editor.erb.erbSource"/>
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="com.aptana.ide.core.ui"
            name="%category.name.0"/>
      <category
            id="com.aptana.ide.core.ui.projects"
            name="%category.name.1"/>
      <wizard
            category="com.aptana.ide.core.ui.projects"
            class="com.aptana.ide.editor.erb.wizards.ERBNewFileWizard"
            finalPerspective="org.radrails.rails.ui.PerspectiveRails"
            icon="icons/erb_file_new.png"
            id="com.aptana.ide.editors.wizards.ERBNewWizard"
            name="%wizard.name.0"
            preferredPerspectives="org.radrails.rails.ui.PerspectiveRails"/>
      <wizard
            canFinishEarly="true"
            category="com.aptana.ide.core.ui"
            class="com.aptana.ide.editor.erb.wizards.ERBUntitledFileWizard"
            finalPerspective="org.radrails.rails.ui.PerspectiveRails"
            hasPages="false"
            icon="icons/erb_file_new.png"
            id="com.aptana.ide.editors.wizards.file.ERBUntitledWizard"
            name="%wizard.name.1"
            preferredPerspectives="org.radrails.rails.ui.PerspectiveRails"/>
   </extension>
   <extension
         point="com.aptana.ide.editors.colorization">
      <colorization
            file="/colorization/DEFAULT_erb_colorization.col"
            id="com.aptana.ide.editor.erb.colorization"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            category="com.aptana.ide.editors.preferences.GeneralPreferencePage"
            class="com.aptana.ide.editor.erb.preferences.GeneralPreferencePage"
            id="com.aptana.ide.editor.erb.preferences.GeneralPreferencePage"
            name="%generalPreferencePage"/>
      <page
            category="com.aptana.ide.editor.erb.preferences.GeneralPreferencePage"
            class="com.aptana.ide.editor.erb.preferences.ColorizationPreferencePage"
            id="com.aptana.ide.editor.erb.preferences.ColorizationPreferencePage"
            name="%colorPreferencePage"/>
      <page
            category="com.aptana.ide.editor.erb.preferences.GeneralPreferencePage"
            class="com.aptana.ide.editor.erb.preferences.RhtmlTemplatesPreferencePage"
            id="com.aptana.ide.editor.erb.preferences.RhtmlTemplatesPreferencePage"
            name="%page.name.0"/>     
      <page
          category="com.aptana.ide.editor.erb.preferences.GeneralPreferencePage"
          class="com.aptana.ide.editor.erb.preferences.CodeAssistPreferencePage"
          id="com.aptana.ide.editor.erb.preferences.CodeAssistPreferencePage"
          name="%codeAssistPreferencePage"/>       
   </extension>
    <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="com.aptana.ide.editor.erb.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="com.aptana.ide.core.ui.file_wizards">
      <new-file-wizard
            name="New ERB File"
            wizard-id="com.aptana.ide.editors.wizards.ERBNewWizard"/>
      <untitled-file-wizard
            name="New Untitled ERB File"
            wizard-id="com.aptana.ide.editors.wizards.file.ERBUntitledWizard"/>
   </extension>
   <extension
         point="com.aptana.ide.editors.parser">
      <parser
            class="com.aptana.ide.editor.erb.parsing.ERBParser"
            language="text/ruby"/>
   </extension>
   <extension
         point="com.aptana.ide.editors.tokenList">
      <textMatcher
            language="text/ruby"
            resource="src/com/aptana/ide/editor/erb/resources/erb_lexer_1_2.lxr"/>
   </extension>
   <extension point="org.eclipse.ui.editorActions">
		<editorContribution targetID="com.aptana.ide.editors.ERBEditor"
			id="com.aptana.ide.editors.ERBEditor.BreakpointRulerActions">
     <action
           actionID="RulerDoubleClick"
           class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
           id="com.aptana.ide.editor.erb.debug.ui.actions.ManageBreakpointRulerAction"
           label="%AddBreakpoint.label">
     </action>
		</editorContribution>
	</extension>
	<extension point="org.eclipse.ui.popupMenus">
		<viewerContribution
			targetID="com.aptana.ide.editors.ERBEditor#UnifiedRulerContext"
			id="com.aptana.ide.debug.ui.RulerPopupActions">
   <action
         class="org.eclipse.debug.ui.actions.RulerEnableDisableBreakpointActionDelegate"
         helpContextId="enable_disable_breakpoint_action_context"
         id="com.aptana.editor.erb.debug.ui.actions.EnableDisableBreakpointRulerActionDelegate"
         label="%EnableBreakpoint.label"
         menubarPath="debug">
   </action>
   <action
         class="org.eclipse.debug.ui.actions.RulerToggleBreakpointActionDelegate"
         helpContextId="manage_breakpoint_action_context"
         icon="icons/full/obj16/brkp_obj.gif"
         id="com.aptana.ide.editor.erb.debug.ui.actions.BreakpointRulerActionDelegate"
         label="%AddBreakpoint.label"
         menubarPath="debug">
   </action>
		</viewerContribution>
	</extension>
	
	<extension
         point="org.eclipse.ui.commands">
      <category
            id="com.aptana.ui.commands.erb"
            name="%category.name.2"/>
      <command
            categoryId="com.aptana.ui.commands.erb"
            id="com.aptana.ui.editor.erb.extract.partial"
            name="%command.name.0"/>
    </extension>
    <extension point="org.eclipse.ui.contexts">
	  <context
            name="%scope.rhtmlEditor.name"
            description="%scope.rhtmlEditor.description"
            parentId="org.eclipse.ui.textEditorScope"
            id="com.aptana.ide.editor.erb.rhtmlEditorScope">
      </context>
   </extension>
    <extension
         point="org.eclipse.ui.bindings">
         <key
            commandId="com.aptana.ui.editor.erb.extract.partial"
            contextId="com.aptana.ide.editor.erb.rhtmlEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M3+X"/>
         <key
            commandId="com.aptana.ide.editor.erb.content.assist.proposals"
            contextId="com.aptana.ide.editor.erb.rhtmlEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+SPACE">
      </key>
      <key
            commandId="com.aptana.ide.editor.erb.content.assist.proposals"
            contextId="com.aptana.ide.editor.erb.rhtmlEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+SPACE"
            platform="carbon"> 
      </key>
    </extension>
	<extension point="com.aptana.ide.editors.pairfinder">
		<pairFinder
            class="com.aptana.ide.editors.unified.NullPairFinder"
            language="text/ruby"
            name="ERB Pair Finder">
		</pairFinder>
	</extension>
	<extension point="org.eclipse.ui.commands">
		<command
                categoryId="org.eclipse.ui.category.edit"
                id="com.aptana.ui.editor.erb.extract.partial"
                name="%command.name.1"/>
        <command
            categoryId="org.eclipse.ui.category.edit"
            description="%ActionDefinition.contentAssist.description"
            id="com.aptana.ide.editor.erb.content.assist.proposals"
            name="%ActionDefinition.contentAssist.name">
      </command>      
	</extension>
	<extension point="org.eclipse.ui.perspectiveExtensions">
		<perspectiveExtension targetID="org.radrails.rails.ui.PerspectiveRails">
    		<newWizardShortcut id="com.aptana.ide.editors.wizards.ERBNewWizard"/>
    	</perspectiveExtension>
	</extension>
	<extension
         point="org.eclipse.ui.editors.templates">
      <contextType
            class="com.aptana.ide.editor.erb.contentassist.RhtmlContextType"
            id="org.radrails.rails.ui.templateContextType.rhtml"
            name="%contextType.name.0"/>
      <include
            file="templates/rhtml.xml"
            translations="templates/rhtml.properties"/>
   </extension>
 <extension
       point="com.aptana.ide.editor.html.browserTabs">
    <tab
          class="com.aptana.ide.editor.erb.ERBTabAdder">
    </tab>
 </extension>
</plugin>
