<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.radrails.intro.ForcePluginToLoad"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.radrails.intro.editors.MyRadRailsEditor"
            icon="icons/aptana_home.png"
            id="com.aptana.radrails.MyRadRailsEditor"
            name="%Editor.myradrails.title">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.aptana.radrails.intro.editors.MyRadRailsElementFactory"
            id="com.aptana.radrails.MyRadRailsElementFactory">
      </factory>
   </extension>

</plugin>
