<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.radrails.intro.ForcePluginToLoad"></startup>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="s.com.aptana.ide.core.ui.actionSet.ShowRadRails"
            label="%ActionSet.myradrails.label"
            visible="true">
         <action
               class="com.aptana.ide.intro.actions.ShowMyAptanaAction"
               icon="icons/home.png"
               id="com.aptana.ide.core.ui.actionSet.myRadRails"
               label="%Action.home.label"
               style="pulldown"
               toolbarPath="s.com.aptana.ide.core.ui.actionSet.ShowRadRails/additions">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aptana.radrails.intro.editors.MyRadRailsEditor"
            icon="icons/aptana_home.png"
            id="com.aptana.radrails.MyRadRailsEditor"
            name="My Aptana RadRails">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.elementFactories">
      <factory
            class="com.aptana.radrails.intro.editors.MyRadRailsElementFactory"
            id="com.aptana.radrails.MyRadRailsElementFactory">
      </factory>
   </extension>

</plugin>
