<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.startup">
      <startup
            class="com.aptana.radrails.sqlite3.win32.InstallSQLite3Job"></startup>
   </extension>
   <extension point="com.aptana.rdt.gems">
      <gem path="lib/sqlite3-ruby-1.2.1-mswin32.gem" name="sqlite3-ruby" version="1.2.1" platform="mswin32" auto-install="true"/>
   </extension>
</plugin>
