<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="org.radrails.ide.ui.RadRails">
         </run>
      </application>
   </extension>
   <extension
         id="radrails"
         point="org.eclipse.core.runtime.products">
      <product
            application="org.radrails.ide.ui.application"
            name="%product.name.0">
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini"/>
         <property
               name="aboutImage"
               value="icons/rails3232.png"/>
         <property
               name="aboutText"
               value="RadRails&#x0A;&#x0A;Version: 0.8.0.qualifier&#x0A;&#x0A;(c) Copyright Marc Baumbach, Matt Kent, Kyle Shank, Andy Gianfagna, Ryan Lowe and others 2005, 2007.  All rights reserved.&#x0A;Visit http://www.aptana.com and development at http://hog.Aptana, Inc./radrails&#x0A;&#x0A;RadRails includes software developed by&#x0A;Subclipse http://subclipse.tigris.org&#x0A;RDT http://rubyeclipse.sf.net"/>
         <property
               name="appName"
               value="RadRails"/>
         <property
               name="windowImages"
               value="icons/rails.gif"/>
         <property
               name="startupProgressRect"
               value="0,290,455,295"/>
      </product>
   </extension>
</plugin>
