#Wed Oct 17 11:30:25 PDT 2007
autotestsuite.class.exclusions=.*FTC_.*;.*\\.refactoring\\..*
autotestsuite.trace=true
pluginbuilder.features=com.aptana.radrails.feature.professional
autotestsuite.class.inclusions=.*
pluginbuilder.server.user=rdt
pluginbuilder.is.svn=true
pluginbuilder.is.runtests=false
pluginbuilder.svn.url=https\://source.aptana.com/aptanarepo/aptana/ide_suite/trunk
autotestsuite.plugin.inclusions=.*(test|tests)$
pluginbuilder.is.cvs=false
pluginbuilder.is.copy=false
pluginbuilder.is.rcpbuild=false
pluginbuilder.svn.user=build
pluginbuilder.svn.password=build\u0024\u0024\u0024\u00241