<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
   <extension-point id="railsShellCommandProviders" name="railsShellCommandProviders" schema="schema/railsShellCommandProviders.exsd"/>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="org.radrails.rails.internal.ui.RailsPerspectiveFactory"
            icon="icons/rails.gif"
            id="org.radrails.rails.ui.PerspectiveRails"
            name="%perspective.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <wizard
            category="org.radrails.rails.ui.NewWizardCategoryRails"
            class="org.radrails.rails.internal.ui.wizards.NewRailsProjectWizard"
            finalPerspective="org.radrails.rails.ui.PerspectiveRails"
            icon="icons/newproj.gif"
            id="org.radrails.rails.ui.wizards.NewWizardProject"
            name="%wizard.name.0"
            preferredPerspectives="org.radrails.rails.ui.PerspectiveRails"
            project="true">
         <description>
            %wizard.description.0
         </description>
      </wizard>
      <category
            id="org.radrails.rails.ui.NewWizardCategoryRails"
            name="%category.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.radrails.rails.ui.PerspectiveRails">      
         <perspectiveShortcut id="com.aptana.ide.db.PerspectiveFactory"/>     
         <perspectiveShortcut id="com.aptana.ide.js.ui.WebPerspective"/>  
         <perspectiveShortcut id="org.eclipse.debug.ui.DebugPerspective"/>  
         <actionSet id="org.radrails.rails.ui.railsActions"/>
         <newWizardShortcut id="org.radrails.rails.ui.wizards.NewWizardProject"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.file"/>
         <newWizardShortcut id="org.eclipse.ui.wizards.new.folder"/>
         <newWizardShortcut id="org.rubypeople.rdt.ui.wizards.RubyNewFileWizard"/>
         <newWizardShortcut id="com.aptana.ide.editors.wizards.HtmlNewWizard"/>
         <newWizardShortcut id="com.aptana.ide.editors.wizards.CssNewWizard"/>
         <newWizardShortcut id="com.aptana.ide.editors.wizards.JsNewWizard"/>
         <newWizardShortcut id="com.aptana.ide.editors.wizards.file.RubyUntitledWizard"/>
         <viewShortcut id="org.rubypeople.rdt.testunit.views.TestUnitView"/>
         <viewShortcut id="org.rubypeople.rdt.ui.RubyExplorer"/>
         <viewShortcut id="org.radrails.rails.ui.ViewRailsPlugins"/>
         <viewShortcut id="org.radrails.rails.ui.ViewGenerators"/>
         <viewShortcut id="com.aptana.rdt.ViewRakeTasks"/>
         <viewShortcut id="com.aptana.rdt.ui.views.RailsAPIView"/>
         <viewShortcut id="com.aptana.rdt.ui.views.RubyCoreAPIView"/>
         <viewShortcut id="com.aptana.rdt.ui.views.RubyStdLibAPIView"/>
         <viewShortcut id="org.epic.regexp.views.RegExpView"/>
         <viewShortcut id="com.aptana.gems.ui.ViewGems"/>
         <viewShortcut id="org.eclipse.ui.views.ProblemView"/>
         <viewShortcut id="org.eclipse.ui.views.TaskList"/>
         <viewShortcut id="org.rubypeople.rdt.ui.views.RIView"/> 
		 <viewShortcut id="org.rubypeople.rdt.ui.RDocView"/>
         <showInPart id="org.rubypeople.rdt.ui.RubyExplorer"/>
         <actionSet id="org.rubypeople.rdt.ui.rubyActionSet"/>
         <actionSet id="org.radrails.rails.ui.RailsElementCreationActionSet"/>
         <view
               id="org.rubypeople.rdt.ui.RubyExplorer"
               relationship="left"
               visible="true"/>
         <view
               id="com.aptana.ide.documentation.TutorialView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.views.ContentOutline"
               visible="false">
         </view>
         <view
               id="com.aptana.ide.logging.LogView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.aptana.ide.server.ui.serversView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.aptana.ide.js.ui.views.problemsView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.aptana.ide.ui.ViewPlugins"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.aptana.rdt.ViewRakeTasks"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="org.rubypeople.rdt.ui.views.RIView"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
         <view
               id="com.aptana.gems.ui.ViewGems"
               minimized="false"
               relationship="stack"
               relative="org.eclipse.ui.console.ConsoleView"
               visible="false">
         </view>
      </perspectiveExtension>
      <perspectiveExtension targetID="com.aptana.ide.js.ui.WebPerspective">
		 <perspectiveShortcut
               id="org.radrails.rails.ui.PerspectiveRails">
         </perspectiveShortcut>
      </perspectiveExtension>
      <perspectiveExtension targetID="org.eclipse.debug.ui.DebugPerspective">
		 <perspectiveShortcut
               id="org.radrails.rails.ui.PerspectiveRails">
         </perspectiveShortcut>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.ide.projectNatureImages">
      <image
            icon="icons/rails_ovr.gif"
            id="org.radrails.rails.ui.ProjectNatureImageRails"
            natureId="org.radrails.rails.core.railsnature"/>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="org.radrails.rails.ui.ViewCategoryRails"
            name="%category.name.1"/>
      <view
            category="org.radrails.rails.ui.ViewCategoryRails"
            class="org.radrails.rails.internal.ui.generators.GeneratorsView"
            icon="icons/generator.png"
            id="org.radrails.rails.ui.ViewGenerators"
            name="%view.name.0"/>
      <view
            category="org.radrails.rails.ui.ViewCategoryRails"
            class="org.radrails.rails.internal.ui.railsplugins.RailsPluginsView"
            icon="icons/railsplugins_dir.gif"
            id="org.radrails.rails.ui.ViewRailsPlugins"
            name="%view.name.1"/>
      <view
            name="%view.name.4"
            icon="icons/book.png"
            category="org.radrails.rails.ui.ViewCategoryRails"
            class="org.radrails.rails.internal.ui.RailsAPIView"
            id="com.aptana.rdt.ui.views.RailsAPIView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="org.radrails.rails.internal.ui.browser.BrowserEditor"
            default="false"
            icon="icons/browser.gif"
            id="org.radrails.rails.ui.browser.BrowserEditor"
            name="%editor.name.0"/>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.radrails.rails.internal.ui.preferences.RailsPreferencePage"
            id="org.radrails.rails.ui.preferences.Rails"
            name="%page.name.0"/>
      <page
            category="org.radrails.rails.ui.preferences.Rails"
            class="org.radrails.rails.internal.ui.preferences.AutotestPreferencePage"
            id="org.radrails.rails.ui.preferences.Autotest"
            name="%page.name.1"/>
   </extension>
   <extension
         point="org.eclipse.ui.editors.templates">
      <include
            file="templates/rails.xml"
            translations="templates/rails.properties"/>
   </extension>
   <extension
         point="org.eclipse.ui.actionSets">
      <actionSet
            id="org.radrails.rails.ui.railsActions"
            label="%actionSet.label.0" 
            >
         <action
               class="org.radrails.rails.internal.ui.actions.ScriptConsolePulldownDelegate"
               definitionId="org.radrails.rails.ui.command.script_console"
               icon="icons/console.png"
               id="org.radrails.rails.ui.ScriptConsoleAction"
               label="%action.label.0"
               style="pulldown"
               toolbarPath="Normal/Rails"
               tooltip="%action.tooltip.0"/>
         <action
               class="org.radrails.rails.internal.ui.autotest.RunAutotestSuiteActionDelegate"
               icon="icons/at_pass.gif"
               id="org.radrails.rails.ui.test.RunAutotestSuite"
               label="%action.label.1"
               style="push"
               toolbarPath="Rails/Test"
               tooltip="%action.tooltip.1"/>
         <action
               class="org.radrails.rails.internal.ui.actions.RunTestsPulldownDelegate"
               icon="icons/testrun.gif"
               id="org.radrails.rails.ui.TestPulldown"
               label="%action.label.2"
               menubarPath="org.eclipse.ui.run/additions"
               pulldown="true"
               style="pulldown"
               toolbarPath="Rails/Test"
               tooltip="%action.tooltip.2"/>
      </actionSet>
      <actionSet
            label="%RailsElementCreationActionSet.label"
            description="%RailsElementCreationActionSet.description"
            visible="false"
            id="org.radrails.rails.ui.RailsElementCreationActionSet">
          <action
               label="%OpenProjectWizardAction.label"
               icon="icons/newproj.gif"
               tooltip="%OpenProjectWizardAction.tooltip"
               class="org.radrails.rails.internal.ui.wizards.NewRailsProjectWizardToolbarAction"
               toolbarPath="Normal/RailsWizards"
               id="org.radrails.rails.ui.actions.OpenProjectWizard">
         </action>
      </actionSet>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="org.radrails.rails.ui.tail.TailObjectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.radrails.rails.ui.tail.TailMenu"
               label="%menu.label.0"/>
         <action
               class="org.radrails.rails.internal.ui.tail.TailAction"
               id="org.radrails.rails.ui.tail.TailAction"
               label="%action.label.3"
               menubarPath="org.radrails.rails.ui.tail.TailMenu"
               style="push"/>
      </objectContribution>
      <objectContribution
            adaptable="true"
            id="org.radrails.rails.ui.MigrationObjectContribution"
            objectClass="org.eclipse.core.resources.IFile">
         <menu
               id="org.radrails.rails.ui.MigrationMenu"
               label="%menu.label.1"
               path="additions">
         </menu>
         <action
               class="org.radrails.rails.ui.RunMigrationAction"
               icon="icons/migration.gif"
               id="org.radrails.rails.ui.RunMigrationAction"
               label="%action.label.4"
               menubarPath="org.radrails.rails.ui.MigrationMenu"
               style="push"/>
         <filter
               name="path"
               value="*/db/migrate/*"/>
      </objectContribution>
   </extension>

   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.radrails.rails.internal.ui.tail.TailConsolePageParticipant"
            id="org.radrails.rails.ui.TailConsolePageParticipant">
         <enablement>
            <instanceof value="org.radrails.rails.internal.ui.tail.TailConsole"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.console.consolePageParticipants">
      <consolePageParticipant
            class="org.radrails.rails.internal.ui.console.RailsShellPageParticipant"
            id="org.radrails.rails.ui.RailsShellPageParticipant">
         <enablement>
            <instanceof value="org.radrails.rails.internal.ui.console.RailsShell"/>
         </enablement>
      </consolePageParticipant>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.radrails.rails.ui.command.mvc.v"
            name="%command.name.0"/>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.radrails.rails.ui.command.mvc.t"
            name="%command.name.1"/>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.radrails.rails.ui.command.mvc.m"
            name="%command.name.2"/>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.radrails.rails.ui.command.mvc.c"
            name="%command.name.3"/>
      <command
            id="org.radrails.rails.ui.command.script_console"
            name="%command.name.4"/>
      <command
            categoryId="org.eclipse.ui.category.navigate"
            id="org.radrails.rails.ui.command.mvc.h"
            name="%command.name.5"/>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="org.radrails.rails.ui.command.mvc.v"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+V"/>
      <key
            commandId="org.radrails.rails.ui.command.mvc.t"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="CTRL+ALT+T"/>
      <key
            commandId="org.radrails.rails.ui.command.mvc.m"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+M"/>
      <key
            commandId="org.radrails.rails.ui.command.mvc.c"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+Z"/>
      <key
            commandId="org.radrails.rails.ui.command.script_console"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+U"/>
      <key
            commandId="org.radrails.rails.ui.command.mvc.h"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+M2+X"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="org.radrails.rails.ui.ViewActions.RailsPlugins"
            targetID="org.radrails.rails.ui.ViewRailsPlugins">
         <action
               class="org.radrails.rails.internal.ui.railsplugins.actions.RefreshRailsPluginsActionDelegate"
               icon="icons/nav_refresh.gif"
               id="org.radrails.rails.ui.ActionRefreshRailsPlugins"
               label="%action.label.5"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.3"/>
		 <action
         class="org.radrails.rails.internal.ui.railsplugins.actions.RemovePluginActionDelegate"
         disabledIcon="icons/delete_disabled.png"
         icon="icons/delete.png"
         id="org.radrails.rails.ui.PluginRemoveAction"
         label="%action.label.6"
         style="push"
         toolbarPath="additions"
         tooltip="%action.tooltip.4"/>
   <action
         class="org.radrails.rails.internal.ui.railsplugins.actions.InstallPluginActionDelegate"
         disabledIcon="icons/add_disabled.png"
         icon="icons/add.png"
         id="org.radrails.rails.ui.PluginInstallAction"
         label="%action.label.7"
         style="push"
         toolbarPath="additions"
         tooltip="%action.tooltip.5">
   </action>
   <action
         class="com.aptana.ide.core.ui.actions.HelpAction"
         icon="icons/help.png"
         id="org.radrails.rails.ui.rails_plugins_view_context"
         label="%action.label.8"
         style="push"
         toolbarPath="helpEnd"
         tooltip="%action.tooltip.6">
   </action>
      </viewContribution>
      <viewContribution
            id="org.radrails.rails.ui.ViewActions.Generators"
            targetID="org.radrails.rails.ui.ViewGenerators">
         <action
               class="org.radrails.rails.internal.ui.generators.RefreshGeneratorsActionDelegate"
               icon="icons/nav_refresh.gif"
               id="org.radrails.rails.ui.ActionRefreshGenerators"
               label="%action.label.9"
               style="push"
               toolbarPath="additions"
               tooltip="%action.tooltip.7"/>
         <action
               class="com.aptana.ide.core.ui.actions.HelpAction"
               icon="icons/help.png"
               id="org.radrails.rails.ui.generators_view_context"
               label="%action.label.10"
               style="push"
               toolbarPath="helpEnd"
               tooltip="%action.tooltip.8">
         </action>
      </viewContribution>
   </extension>
<!--   <extension point="org.eclipse.ui.startup">
      <startup class="org.radrails.rails.internal.ui.RailsPerspectiveShortcutInstaller"/>
   </extension> -->
   <extension
         point="org.eclipse.debug.ui.consoleLineTrackers">
      <consoleLineTracker
            class="org.radrails.rails.internal.ui.RailsConsoleTracker"
            id="org.radrails.rails.ui.consoleLineTracker"
            processType="ruby"/>
   </extension>
      <extension
            point="org.rubypeople.rdt.ui.quickFixProcessors">
         <quickFixProcessor
               class="org.radrails.rails.internal.ui.text.correction.QuickFixProcessor"
               id="org.radrails.rails.ui.text.correction.QuickFixProcessor"
               name="%quickFixProcessor.name.0"/>
      </extension>
      
      <extension
         point="org.eclipse.ui.decorators">
      <decorator
            lightweight="true"
            location="TOP_LEFT"
            adaptable="true"
            label="%decorator.label.0"
            state="true"
            icon="icons/rails_ovr.gif"
            class="org.radrails.rails.internal.ui.RailsLightweightDecorator"
            id="org.radrails.rails.ui.railsProjectDecorator">
         <description>
            %decorator.description.0
         </description>
         <enablement>
				<objectClass
					name="org.eclipse.core.resources.IProject">
				</objectClass>
		</enablement>
      </decorator>
 </extension>
      <extension
            point="org.eclipse.ui.console.consoleFactories">
         <consoleFactory
               class="org.radrails.rails.internal.ui.console.RailsShellFactory"
               icon="icons/rails.gif"
               label="%consoleFactory.label.0"/>
      </extension>
      <extension
            id="RailsCompletionProposalComputer"
            point="org.rubypeople.rdt.ui.rubyCompletionProposalComputer">
         <rubyCompletionProposalComputer
               categoryId="org.rubypeople.rdt.ui.defaultProposalCategory"
               class="org.radrails.rails.internal.ui.text.RailsCompletionProposalComputer">
            <partition type="__dftl_partition_content_type"/>
         </rubyCompletionProposalComputer>
      </extension>
      <extension
            point="org.rubypeople.rdt.launching.terminals">
         <terminal
               class="org.radrails.rails.internal.ui.console.RailsShell"
               id="org.radrails.rails.shell"/>
      </extension>
      <extension
            point="org.eclipse.ui.cheatsheets.cheatSheetContent">
         <category
               id="org.radrails.rails.ui.cheatsheet.category"
               name="Rails"/>
         <cheatsheet
               category="org.radrails.rails.ui.cheatsheet.category"
               composite="false"
               contentFile="cheatsheets/first_project.xml"
               id="org.radrails.rails.ui.cheatsheet.first_project"
               name="Your First Rails Project"/>
      </extension>
      <extension
            point="org.eclipse.ui.editorActions">
         <editorContribution
               id="org.radrails.rails.ui.rubyEditorContribution"
               targetID="org.rubypeople.rdt.ui.EditorRubyFile">            
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ControllerEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.c"
                  disabledIcon="icons/c_off.png"
                  icon="icons/c.png"
                  id="org.radrails.rails.ui.controller.editor.action"
                  label="%action.label.11"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.9">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ViewEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.v"
                  disabledIcon="icons/v_off.png"
                  icon="icons/v.png"
                  id="org.radrails.rails.ui.view.editor.action"
                  label="%action.label.12"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.10">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ModelEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.m"
                  disabledIcon="icons/m_off.png"
                  icon="icons/m.png"
                  id="org.radrails.rails.ui.model.editor.action"
                  label="%action.label.13"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.11">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.TestEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.t"
                  disabledIcon="icons/t_off.png"
                  icon="icons/t.png"
                  id="org.radrails.rails.ui.test.editor.action"
                  label="%action.label.14"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.12">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.HelperEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.h"
                  disabledIcon="icons/h_off.png"
                  icon="icons/h.png"
                  id="org.radrails.rails.ui.helper.editor.action"
                  label="%action.label.15"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.13">
            </action>
         </editorContribution>
         <editorContribution
               id="org.radrails.rails.ui.erbEditorContribution"
               targetID="com.aptana.ide.editors.ERBEditor">            
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ControllerEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.c"
                  disabledIcon="icons/c_off.png"
                  icon="icons/c.png"
                  id="org.radrails.rails.ui.controller.editor.action"
                  label="%action.label.16"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.14">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ViewEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.v"
                  disabledIcon="icons/v_off.png"
                  icon="icons/v.png"
                  id="org.radrails.rails.ui.view.editor.action"
                  label="%action.label.17"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.15">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ModelEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.m"
                  disabledIcon="icons/m_off.png"
                  icon="icons/m.png"
                  id="org.radrails.rails.ui.model.editor.action"
                  label="%action.label.18"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.16">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.TestEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.t"
                  disabledIcon="icons/t_off.png"
                  icon="icons/t.png"
                  id="org.radrails.rails.ui.test.editor.action"
                  label="%action.label.19"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.17">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.HelperEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.h"
                  disabledIcon="icons/h_off.png"
                  icon="icons/h.png"
                  id="org.radrails.rails.ui.helper.editor.action"
                  label="%action.label.20"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.18">
            </action>
         </editorContribution>
         <editorContribution
               id="org.radrails.rails.ui.hamlEditorContribution"
               targetID="net.lucky_dip.hamleditor.editor.HamlEditor">            
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ControllerEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.c"
                  disabledIcon="icons/c_off.png"
                  icon="icons/c.png"
                  id="org.radrails.rails.ui.controller.editor.action"
                  label="%action.label.21"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.19">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.ModelEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.m"
                  disabledIcon="icons/m_off.png"
                  icon="icons/m.png"
                  id="org.radrails.rails.ui.model.editor.action"
                  label="%action.label.22"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.20">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.TestEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.t"
                  disabledIcon="icons/t_off.png"
                  icon="icons/t.png"
                  id="org.radrails.rails.ui.test.editor.action"
                  label="%action.label.23"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.21">
            </action>
            <action
                  class="org.radrails.rails.internal.ui.actions.mvc.HelperEditorActionDelegate"
                  definitionId="org.radrails.rails.ui.command.mvc.h"
                  disabledIcon="icons/h_off.png"
                  icon="icons/h.png"
                  id="org.radrails.rails.ui.helper.editor.action"
                  label="%action.label.24"
                  menubarPath="navigate/open.ext"
                  style="push"
                  tooltip="%action.tooltip.22">
            </action>
         </editorContribution>
      </extension>
      <extension
            point="org.radrails.rails.ui.railsShellCommandProviders">
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.GemCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.HelpCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.RailsCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.ScriptConsoleCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.SwitchProjectCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.ScriptServerCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.ScriptAboutCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.RakeCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.ScriptPluginCommandProvider">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.GenericRubyLaunchCommandProvider"
               priority="9999">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.ScriptGenerateAndDestroyCommandProvider"
               priority="50">
         </railsShellCommandProvider>
         <railsShellCommandProvider
               class="org.radrails.rails.internal.ui.console.commands.ScriptRunnerCommandProvider"
               priority="50">
         </railsShellCommandProvider>
      </extension>
      <extension
            point="org.eclipse.help.contexts">
         <contexts
               file="contexts.xml">
         </contexts>
      </extension>
      <extension
            point="com.aptana.ide.core.ui.file_wizards">
         <untitled-file-wizard
               name="New Untitled Ruby File"
               wizard-id="com.aptana.ide.editors.wizards.file.RubyUntitledWizard">
         </untitled-file-wizard>
      </extension>
      <extension
            point="org.eclipse.ui.newWizards">
         <wizard
               canFinishEarly="true"
               category="com.aptana.ide.core.ui"
               class="org.radrails.rails.ui.wizards.RubyUntitledFileWizard"
               finalPerspective="org.rubypeople.rdt.ui.PerspectiveRuby"
               hasPages="false"
               icon="icons/newfile_wiz.png"
               id="com.aptana.ide.editors.wizards.file.RubyUntitledWizard"
               name="Untitled Ruby File"
               preferredPerspectives="org.radrails.rails.ui.PerspectiveRails">
         </wizard>
      </extension>
<!--      <extension
            point="com.aptana.ide.core.ui.perspectives">
            <perspective id="org.radrails.rails.ui.PerspectiveRails"></perspective>
      </extension> -->
</plugin>
